.tab
{
    border: 0;
    background: var(--background);
    color: var(--primary);
    font-size:1.5em;
    padding:0.5em;
    cursor: pointer;   
}

.tab:hover
{
    background: var(--menu);
}